h2{
    font-family: "Arial Rounded MT Bold",sans-serif!important;
    color: black;
}
body{
    text-align: center;
    color: black;
    padding-left: 150px;
}
h5{
    font-family: "Century Gothic", sans-serif!important;
    color: black;
}
h4{
    font-family: "Century Gothic", sans-serif!important;
    color: black;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 150px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    background: darkseagreen;
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 20px;
    font-family: "Century Gothic",sans-serif!important;
    font-size: 20px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: white;
    display:block;
}

.dropbtn {
    background-color: darkseagreen;
    color: white;
    padding: 10px;
    border:none;
}
.dropdown {
    position: relative;
    display: inline-grid;
}
.dropdown-content {
    display: none;
    background-color: aliceblue;
}
.dropdown-content a {
    color: black;
    padding: 10px 10px;
    display: block;
}
.dropdown-content a:hover {background-color: darkgray}
.dropdown:hover .dropdown-content {display: block;}
