div.main {margin-left: auto; margin-right: auto;width: 80%;}
body{font-family:"Source Sans Pro", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Tahoma", sans-serif;font-size:16px;line-height:1.5;min-height:95%}
tt,code,kbd,samp,pre{font-family:"Source Code Pro", monospace, serif, "Segoe UI Symbol", "Symbol";font-size:16px;font-size-adjust:none}
pre{max-width:600px;overflow:auto;white-space:pre-wrap;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-left-width:0;border-right-width:0}
svg { pointer-events: none; }
g.base .tile { pointer-events: visible; cursor: pointer; }
g.frontier .frontier { fill: hsl(220, 50%, 50%); }

path.parent { fill: none; stroke: hsl(30, 20%, 65%); stroke-width: 3px; }
#arrowhead { fill: hsl(30, 20%, 65%); }

path.path-trace { fill: none; stroke: hsl(280, 30%, 70%); stroke-width: 11px; }

g.heuristic_distance .heuristic { fill: none; stroke: hsl(330, 50%, 50%); stroke-width: 4px; }

path.contour { fill: none; stroke-width: 1px; }

.draggable { pointer-events: visible; cursor: move /* IE */; cursor: grab; }
.draggable.dragging { cursor: grabbing; }
path.start { fill: hsl(0, 50%, 50%); stroke: none; }
path.goal { fill: none; stroke: hsl(310, 50%, 50%); stroke-width: 7px; }

g.base .tile { fill: hsl(0, 10%, 85%); }
g.base .visited { fill: hsl(30, 20%, 75%); }
g.base .weight-Infinity { fill: hsl(60, 5%, 50%); stroke: hsl(60, 5%, 50%); stroke-width: 1.5px; }
g.base .weight-5 { fill: hsl(110, 20%, 60%); }

#cross1 .tile { fill: rgba(255, 255, 255, 0); }
#blob1 .tile { fill: rgba(255, 255, 255, 0); }
#cross .tile { fill: rgba(255, 255, 255, 0); }
#blob .tile { fill: rgba(255, 255, 255, 0); }
#blob path.goal { stroke-width: 20px; }

#diagram-early-exit-false g.numeric_label_cost_so_far text.label,
#diagram-early-exit-true g.numeric_label_cost_so_far text.label
{ fill: hsl(0, 10%, 40%); }

#diagram-nongrid .tile { fill: hsl(0, 0%, 100%); stroke: hsl(30, 20%, 75%); stroke-width: 1px; }
#diagram-nongrid { background-color: hsl(30, 10%, 75%); border-top: 6px solid hsl(30, 10%, 75%); border-left: 10px solid hsl(30, 10%, 75%); }

.diagram_custom g.base .visited { fill: hsl(0, 10%, 95%); }
.diagram_custom g.base .weight-2 { fill: hsl(110, 40%, 80%); stroke: hsl(110, 40%, 80%); stroke-width: 0.5px; }
.diagram_custom g.base .weight-3 { fill: hsl(60, 50%, 80%); stroke: hsl(60, 50%, 80%); stroke-width: 0.5px; }
.diagram_custom g.base .weight-Infinity { fill: hsl(110, 20%, 60%); stroke: hsl(110, 20%, 60%); }
.diagram_custom g.base .weight-20 { fill: hsl(200, 50%, 70%); stroke: hsl(200, 50%, 70%); stroke-width: 0.5px; }
.diagram_custom .path-trace { stroke: hsl(280, 30%, 70%); stroke-width: 5px; }

#diagram_custom_1 g.base .weight-1 { fill: hsl(0, 10%, 95%); stroke: hsl(110, 40%, 80%); stroke-width: 0.5px; }
#diagram_custom_1 g.base .visited { fill: hsl(30, 20%, 75%); }
#diagram_custom_1 .color-frontier g.base .frontier,
#diagram_custom_1 .color-frontier g.base .current { fill: hsl(220, 50%, 60%); }
#diagram_custom_1 .color-current g.base .current { fill: hsl(70, 70%, 70%); }

#diagram1 .play_pause { display: none; }
#diagram1 .label { fill: hsl(0, 10%, 80%); }

#diagram2 .path-trace,
#diagram-astar-1 g.cost_so_far .path-trace,
#diagram-astar-3 g.cost_so_far .path-trace
{ stroke: hsl(280, 50%, 50%); stroke-width: 4px; }

#diagram-contour-comparison .combined path.path-trace,
#diagram-astar-3 path.path-trace { stroke-width: 20px; }

#diagram-contour-comparison path.goal,
#diagram-astar-1 path.goal,
#diagram-astar-2 path.goal
{ stroke-width: 6px; }

#diagram-weights-false path.goal,
#diagram-weights-true path.goal
{ stroke-width: 8px; }

#diagram-nongrid path.goal,
#diagram-contour-comparison .combined path.goal,
#diagram-astar-3 path.goal
{ stroke-width: 10px; }

.slider button { font-size: large; }

em { color: hsl(220, 50%, 50%); font-weight: bold; }
pre em { font-weight: inherit; font-style: inherit; background-color: #ffc; padding: 2px 0; }
.frontier { color: hsl(220, 50%, 50%); }
.start { color: hsl(0, 50%, 50%); }
.current { color: hsl(70, 100%, 30%); }
.visited, .came_from { color: hsl(30, 40%, 40%); }
.next { color: hsl(150, 40%, 40%); }
.goal { color: hsl(310, 50%, 50%); }
.path { color: hsl(280, 50%, 50%); }
.cost_so_far, .new_cost { color: hsl(340, 30%, 40%); }
.frontier, .start, .current, .visited, .came_from, .next, .goal, .path, .cost_so_far, .new_cost { font-weight: bold; }

.color-frontier g.base .frontier,
.color-frontier g.base .current { fill: hsl(220, 50%, 60%); }
.color-current g.base .current { fill: hsl(70, 70%, 70%); }

.question { font-weight: bold; }

.waypoints circle { fill: hsl(230, 50%, 50%); }
.waypoints path { stroke: hsl(160, 30%, 50%); stroke-width: 0.09px; fill: none; }

.square {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px 5px 0px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}

.floor { background-color: hsl(0, 10%, 95%); }
.grass { background-color: hsl(110, 40%, 80%); }
.sand { background-color: hsl(60, 50%, 80%); }
.tree { background-color: hsl(110, 20%, 60%); }
.water { background-color: hsl(200, 50%, 70%); }

.wall { background-color: hsl(60, 5%, 50%); }
.hill { background-color: hsl(110, 20%, 60%); }
.plain { background-color: hsl(0, 10%, 85%); }

