/* Sidebar */
#sidebar-wrapper{
    z-index:1;
    position: fixed;
    width:0;
    height:100%;
    overflow-y:hidden;
    background-color: #b3d4fc;
    opacity:2.0;
    transition:all .2s;
    display:flex;
    align-items:center;
}
/* Main Content */
#page-content-wrapper{
    width: 100%;
    position: absolute;
    padding:15px;
    transition:all .2s;
}
#menu-toggle{
    transition:all .2s;
    font-size:20px;
    position: fixed!important;
}
/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper{
    width:250px;
}
#wrapper.menuDisplayed #page-content-wrapper{
    padding-left:250px;
}
/* Sidebar styling */
.sidebar-nav{
    padding:0;
    list-style:none;
    transition:all .2s;
    width:100%;
    text-align:center;
    font-size: larger;
}
.sidebar-nav li{
    line-height:40px;
    width:100%;
    transition:all .2s;
    padding:10px;
}
.sidebar-nav li a {
    display:block;
    text-decoration:none;
    color: black;
}
.sidebar-nav li:hover{
    background: darkslategrey;
}
/*dropdown*/
.dropdown-content {
    background-color: white;
}
.dropdown-content a {
    color: black;
    display:block;
    padding: 10px 10px;
}
.dropdown-content a:hover {
    background-color: #b3d4fc
}
.dropdown:hover .dropdown-content {
    display: block
}
/*submit on algorithm*/
.but{
    background-color: #b3d4fc !important;
    color: black!important;
    padding: 6px!important;
    margin-left: 80px;
}
.cc{
    background-color: azure!important;
}
.collapse.in {
    min-height: 50px;
    border: 0px;
}
.jumbotron{
    background:linear-gradient(to right,#acb6e5, #86fde8);
}
h2{
    text-align: center;
    font-family: "Century Gothic",sans-serif!important;
    color: black;
}
body{
    text-align-all: center!important;
    font-family: "Century Gothic", sans-serif!important;
    background: azure!important;
}
h5{
    text-align: center;
    font-family: "Century Gothic", sans-serif!important;
    color: black;
}
h4{
    text-align: center;
    font-family: "Century Gothic", sans-serif!important;
    color: black;
}
